body #abhay{
  min-height: 100vh;
}

.dark{
  background-color: rgb(9, 6, 80);
}

.dark .card{
  background-color:hsl(210, 32%, 41%);
  box-shadow: 2px 2px 5px 2px black;
}

.dark .card-title{
  color : whitesmoke;
  font-size : 1.4rem;
  font-weight : bolder !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark .list-group-item{
  background-color:transparent;
  border : 0;
  color : white;
  font-weight: 600;
}

.border-dark img{
  min-height: 217px;
}